@use "./../utils/color" as *;

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
  // overflow: hidden;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 100%;
}

body {
  background: $black;
}
