@use "../utils" as *;

body {
  background: $black;
}

.signupContainer {
  &__title {
    margin: 140px 0 28px 0;
    font-size: 37.897px;
    text-align: center;
    color: $white;
  }

  &__text {
    margin-bottom: 60px;
    font-size: 28.43px;
    text-align: center;
    color: $gray4;
  }

  [class*="box"] {
    width: 100%;
    height: 96px;
    padding-left: 24px;

    border: 0;
    border-radius: 4px;

    font-size: 28.43px;
    color: $gray6;
    background: #212121;
  }

  [class*="text"] {
    font-size: 21.328px;
    line-height: 160%;
    color: $gray5;
  }
}

.signUpForm {
  width: 732px;

  @include autoMargin;
  @include flexbox(column);
  row-gap: 34px;
}

.inputId__text,
.inputPw__text {
  margin-top: 4px;
}

.inputPw {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 36px;
    height: 36px;

    background: url(/assets/icons/Input.png) no-repeat;
    background-size: contain;
  }
}

.checkList {
  position: relative;

  @include flexbox(column);
  row-gap: 12px;

  .allCheckContainer {
    margin-bottom: 10px;
  }

  &__text {
    padding-left: 38px;
    font-weight: 600;
  }
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkBoxContainer {
  position: relative;

  .allCheck {
    color: $gray3;
  }
}

.allCheckBox {
  width: 26px;
  height: 26px;
  position: absolute;
  background-position: left;

  &Default {
    background: url("/assets/icons/roundcheck.png") no-repeat;
    display: inline-block;
  }
  &:checked + label {
    background: url("/assets/icons/roundchecked.svg") no-repeat;
  }
}

.checkBox {
  width: 26px;
  height: 26px;
  position: absolute;
  background-position: left;

  &Default {
    background: url("/assets/icons/Check.png") no-repeat;
    display: inline-block;
  }
  &:checked + label {
    background: url("/assets/icons/checked.svg") no-repeat;
  }
}

.secondList {
  margin-top: 13px;

  .lastBox {
    margin-top: 12px;
  }

  .sonList {
    margin-left: 36px;
  }

  #checkBox7,
  #checkBox8 {
    left: 35px;
  }
}
.sign-up-box {
  padding-right: 24px;
  cursor: pointer;
}
