@use "./../utils" as *;
@use "./../base" as *;

body {
  @include autoMargin;
  background-color: $black;
}

.subHeader {
  width: 100%;
  height: rem(100px);
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
  z-index: 100;
  height: rem(100px);
  transition: 0.3s;

  @include mobile {
    height: rem(38px);
    transition: 0.3s;
  }

  @include tablet {
    height: rem(56px);
    transition: 0.3s;
  }

  &__inner {
    width: 90%;
    height: 100%;
    @include autoMargin;
    @include flexbox($items: center);
  }

  .subLogo {
    max-width: rem(132px);

    @include mobile {
      width: rem(46px);
    }

    @include tablet {
      width: rem(77px);
    }
  }
}

.profile.container {
  @include autoMargin;
}

.profile {
  &__title {
    margin-top: rem(130px);
    color: white;
    font-size: rem(50.517px);
    font-weight: 700;
    text-align: center;

    @include mobile{
      font-size: rem(16px);
    }
    @include tablet{
      font-size: rem(28.43px);
    }

  }

  &__select {
    margin-top: rem(20px);
    color: white;
    font-size: rem(28.43px);
    font-weight: 200;
    text-align: center;

    @include mobile{
      font-size: rem(12px);

    }
    @include tablet{
      font-size: rem(16px);

    }
  }

  &__box {
    display: flex;    
    justify-content: center;
    padding-top: rem(44px);
    padding-bottom: rem(44px);
    gap: rem(52px);
    flex-wrap: wrap;


    }

  &__image{
    display: inline-block;
    @include mobile{
      flex-basis: 35%;
      gap: rem(24px);
      
     
      }
     @include tablet{
      width: rem(132px);
      width: rem(132px);
     }
    }
  &__self{
    opacity: 0.6;
    position: relative;
    .profile__secret {
      position: absolute;
      top:90px;
      left:90px;
      @include tablet{
        width: rem(50px);
        top:40px;
        left:40px;
      }
      @include mobile{
        top:vw(230px);
        left:vw(230px);
      }
    }
  }

  &__self:hover{
      opacity: 0.9;
      .profile__secret {
        display: none;
    }
  }
 


  &__name {
    color: #A6A6A6;
    text-align: center;
    font-size: rem(28.43px);
    margin-top: 16px;

    @include mobile{
      font-size: rem(12px);

    }
    @include tablet{
      font-size: rem(12px);
    }

  }

  &__click {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    cursor: pointer;
    @include mobile{
      width: rem(135px);
      height: rem(42px);
    }
     @include tablet{
      width: rem(156px);
      height: rem(50px);
     } 

    width: rem(272px);
    height: rem(86px);
    border-radius: 4px;
    border: 1px solid #565656;
    background-color: black;


    &:hover{
      color:black;
      background-color: white;
      content: "완료";
      }
    }
  





  &__edit{
    color: #A6A6A6;
    text-align: center;
    font-size: rem(28.43px);
    font-weight: 300;

    @include tablet{
    font-size: rem(12px);
    }

    @include mobile{
      font-size: rem(12px);
    }

  }
}



.footer {
  @include mobile {
    @include containerPaddingX(52px, 82px);

  }

  @include tablet {
    @include containerPaddingX(70px, 100px);

  }

  @include desktop {
    @include containerPaddingX(140px, 170px);
  }
}

// footer info
.info {
  border-bottom: 1px solid $gray8;
  @include flexbox($justify: space-between);
  align-items: center;

  @include mobile {
    padding: 0 0 rem(12px);
  }

  @include tablet {
    padding: rem(12px) 0 rem(16px);
  }

  @include desktop {
    padding: 0 0 rem(27px);
  }

  &__notice a {
    @include flexbox($justify: space-between);

    @include mobile {
      font-size: rem(12.003px);
    }

    @include tablet {
      font-size: rem(12.003px);
    }

  }

  &__noticeTitle {
    color: $gray5;

    @include mobile {
      padding-right: rem(4px);
    }

    @include tablet {
      padding-right: rem(20px);
    }

    @include desktop {
      padding-right: rem(20px);
    }
  }

  &__noticeContent {
    color: $gray2;

    @include tablet {
      font-size: rem(12.003px);
    }
  }
}

.infoLink {

  @include flexbox($justify: space-between);

  &__click {
    @include flexbox($justify: space-between);
  }

  &__brand a {
    color: $gray2;
    padding-right: 15px;

    @include tablet {
      font-size: rem(12.003px);
    }
  }

  &__group a {
    color: $gray2;
    padding-left: 15px;
    // vertical-align: center;

    @include tablet {
      font-size: rem(12.003px);
    }
  }

  &__plusbtn {
    padding-left: 15px;
  }

  &__divider {
    color: $gray5;
    font-size: rem(12.003px);
  }

  @include mobile {
    display: none;
  }

}

.corpArea {
  @include flexbox();
  @include paddingY(24px);
  color: $gray2;

  @include mobile {
    @include flexbox($direction: column);
    @include paddingY(0px);
    margin: rem(12px) 0;
    gap: 4px;
  }

  @include tablet {
    margin: rem(16px) 0 rem(12px);
    gap: 20px;
  }

  @include desktop {
    margin: rem(27px) 0 rem(24px);
    gap: 36px;
  }

  &__list {
    @include mobile {
      font-size: rem(12.003px);
    }

    @include tablet {
      font-size: rem(12.003px);
    }
  }
}

// 사업정보
.address {
  @include mobile {
    display: none;
  }

  @include mobile {
    font-size: rem(12.003px);
  }

  @include tablet {
    font-size: rem(12.003px);
  }
}

.address__box {
  display: block;
  color: $gray5;
}

.customer,
.mail,
.center {
  text-decoration: underline;
}

.divider {
  color: $gray8;
}

.footer__sns {
  width: rem(268px);
  @include flexbox($justify: space-between);
  gap: rem(20px);
  @include marginY(24px);

  @include mobile {
    width: rem(120px);
    gap: rem(8px);
    @include marginY(12px);
  }

  @include desktop {
    gap: rem(8px);
  }
}

.copyrignt {
  display: inline-block;
  color: $gray5;

  @include mobile {
    width: rem(232px);
    font-size: rem(12.003px);
  }

  @include tablet {
    font-size: rem(12.003px);
  }
}