@use "./../utils/" as *;

body{
  color: $white;
}
.randing{
  text-align: center;
}

.randing [class*="__strong"]{
  font-size: rem(50px);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: rem(20px);
  @include tablet {
    font-size: rem(21px);
    margin-bottom: rem(8px);
  }
  @include mobile {
    font-size: rem(16px);
  }
}
.randing [class*="__p"]{
  font-size: rem(28px);
  font-weight: 600;
  line-height: 150%;
  color: $gray2;
  @include tablet {
    font-size: rem(12px);
  }
  @include mobile {
    font-size: rem(12px);
  }
}

.randing [class*="__em"]{
  display: block;
  color: $gray2;
  font-size: rem(21px); 
  line-height: 160%;
  margin-bottom: rem(51px);
  @include tablet {
    font-size: rem(12px);
    margin-bottom: rem(32px);
  }
  @include mobile {
    font-size: rem(12px);
    margin-bottom: rem(25px);
  }
}

.randing [class="startTaing__link"]{
  width: rem(506px);
  height: rem(80px);
  line-height: rem(80px);
  display: inline-block;
  background: $red-2;
  border-radius: rem(4px);
  font-size: rem(28px);
  font-weight: 600;
  position: relative;

  @include tablet {
    width: rem(283px);
    height: rem(48px);
    line-height: rem(48px);
    font-size: rem(16px);
  }
  @include mobile {
    width: rem(188px);
    height: rem(34px);
    line-height: rem(34px);
    font-size: rem(12px);
    padding-left: rem(15px);
  }
}


.startTaing{
  width: 100vw;
  height: rem(1302px);
  @include tablet {
    height: rem(533px);
    background-position: center 0;
  }
  @include mobile {
    height: rem(382px);
    background-size: 150%;
    background-position: center 0;
  }
  background-image:url(/assets/images/gradation-img.png), url(/assets/images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__text{
    height: 100%;
    padding-top: rem(260px);
    @include tablet {
      padding-top: rem(155px);
    }
    @include mobile {
      padding-top: rem(118px);
    }
  
  }
  .startTaing__text__p{
    color: $gray4;
    margin-bottom: rem(60px);

    @include tablet {
      margin-bottom: rem(28px);
    }
    @include mobile {
      margin-bottom: rem(16px);
    }
  }

  &__taingIcon{
    position: absolute;
    top: 0;
    left: 8px;
    width: rem(54px);
    @include tablet {
      width: rem(36px);
    }
    @include mobile {
      width: rem(26px);
    }
  }

}


.onlyTaing{
  margin-top: rem(160px);
  @include tablet {
    margin-top: rem(40px);
  }
  @include mobile {
    margin-top: rem(48px);
  }
  
  &__bgWrap{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: rem(24px);
    padding-left: rem(507px);
    @include tablet {
      padding-left: rem(245px);
      gap: rem(12px);
    }
    @include mobile {
      padding-left: rem(20px);
      gap: rem(12px);
    }

  }

  &__picture{
    min-width: rem(904px);
    height: rem(510px);
    margin-bottom: rem(22px);
    @include tablet {
      min-width: rem(277px);
      height: rem(400px);
      margin-bottom: rem(40px);
    }
    @include mobile {
      min-width: rem(277px);
      height: rem(400px);
      margin-bottom: rem(0);
    }

  }
}

.funTaing{
  margin-top: rem(160px);
  @include tablet {
    margin-top: rem(40px);
  }
  @include mobile {
    margin-top: rem(48px);
  }

  &__bg{
    overflow-x: hidden;
    min-width: 150%;
    display: flex;
    flex-flow: row nowrap;
    gap: rem(20px);
    margin-bottom: rem(16px);
    @include tablet {
      gap: rem(12px);
      margin-bottom: rem(12px);
    }
    @include mobile {
      gap: rem(12px);
      margin-bottom: rem(13px);
    }

    &__img{
      width: rem(470px);
      @include tablet {
        min-width: rem(181px);
      };
      @include mobile {
        min-width: rem(181px);
      };
    }
    
  }
  .r{
    transform: translateX(-10%);
  }
}

.meetTaing{
  height: rem(912px);
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    height: rem(368px);
  };
  @include mobile {
    height: rem(228px);
  };

  &__subLogo{
    display: block;
    max-width: rem(279px);
    @include tablet {
      width: rem(135px);
    }
    @include mobile {
      width: rem(83px);
    }
  }
  &__text{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__strong{
      padding: rem(36px) 0;
      @include tablet {
        padding: rem(14px) 0;
      }
      @include mobile {
        padding: rem(18px) 0;
      }
    }
  }
}
