@use "./../utils" as *;
@use "./../base" as *;

.findId{
  width: 100%;
  background: black;
  padding-top: rem(70px);

}

.useEmail{
  width: rem(732px);
  @include autoMargin();

  &__title{
    font-size: rem(37.897px);
    color: $white;
    text-align: center;
    margin-bottom: rem(60px);
    font-weight: 700;
  }

  &__find{
    display: block;
    font-size: rem(28.43px);
    color: $white;
    font-weight: 600;
    margin-bottom: rem(4px);
  }

  &__inputEmail{
    display: block;
    font-size: rem(28.43px);
    color: $gray4;
    margin-bottom: rem(24px);
    font-weight: 600;
  }

  &__Id input{
    width: rem(732px);
    height: rem(96px);
    font-size: rem(28.43px);
    padding-left: rem(24px);
    margin-bottom: rem(36px);
    background: $dark-bg-2;
    border: 1px solid $dark-bg-2;
    color: $gray6;
    border-radius: 4px;
  }

  &__check{
    width: rem(732px);
    height: rem(86px);
    background: $gray7;
    border: 1px solid $gray7;
    font-size: rem(28.43px);
    color: $gray4;
    border-radius: 4px;
  }
}

.or{
  height: rem(156px);
  font-size: rem(16px);
  color: $gray7;
  text-align: center;
}

.useId{
  width: rem(732px);
  @include autoMargin();

  &__identity{
    font-size: rem(28.43px);
    color: $white;
    font-weight: 600;
    margin-bottom: rem(4px);
  }

  &__possible{
    display: block;
    color: $gray4;
    font-size: rem(21.328px);
    font-weight: 600;
    margin-bottom: rem(36px);
  }

  &__identityBtn{
    background: $white;
    color: $black;
    font-size: rem(28.43px);
    font-weight: 600;
    text-align: center;
  }
  &__identityBtn a{
    display: block;
    @include paddingY(21.5px);
  }
}

// footer

body{
  background: $black;
  margin: 0 auto;
}

.article__banner{
  @include containerPaddingX();

  text-align: center;
  @include margin(36px, 0);

  @include mobile {
    @include margin(16px, 0);
  }

  @include tablet{
    @include margin(28px, 0);
  }

}

// 이벤트 섹션
.article{
  margin: 0 auto;
  
  &__eventTitle{
    @include containerPaddingX();

    color: $white;
    font-size: rem(30px);
    font-weight: 700;
    margin-bottom: rem(12px);


    @include mobile {
      margin-bottom: rem(8px);
      font-size: rem(12.003px);
      font-weight: 700;
    }

    @include tablet{
    margin-bottom: rem(8px);
    font-size: rem(16px);
    font-weight: 700;
    }
  }

  &__event{
    @include containerPaddingX();
    gap: rem(8px);

    @include mobile{
      gap: rem(8px);
    } 

    @include desktop{
      gap: rem(16px);
    } 

    // display: grid;
    // @include grid($column:6, $imageWidth:346px);
    overflow: hidden;
    @include flexbox();

    img{
      @include mobile{
        width: 145px;
        max-width: 145px;
      }

      @include tablet{
        width: 214px;
        max-width: 214px;
      }

      @include desktop{
        width: 346px;
        max-width: 346px;
      }
    }

  }
}

.footer{
    @include mobile{
      @include containerPaddingX(52px, 82px);

    }

    @include tablet{
      @include containerPaddingX(70px, 100px);

    }

    @include desktop{
      @include containerPaddingX(140px, 170px);
    }
}

// footer info
.info{
  border-bottom: 1px solid $gray8;
  @include flexbox($justify:space-between);
  align-items: center;

  @include mobile{
    padding: 0 0 rem(12px);
  }

  @include tablet{
    padding: rem(12px) 0 rem(16px);
  }

  @include desktop{
    padding: 0 0 rem(27px);
  }

  &__notice a{
    @include flexbox($justify:space-between);

    @include mobile{
      font-size: rem(12.003px);
    }

    @include tablet{
      font-size: rem(12.003px);
    }

  }

  &__noticeTitle{
    color: $gray5;

    @include mobile{
      padding-right: rem(4px);
    }

    @include tablet{
      padding-right: rem(20px);
    }

    @include desktop{
      padding-right: rem(20px);
    }
  }

  &__noticeContent{
    color: $gray2;

    @include tablet{
      font-size: rem(12.003px);
    }
  }
}

.infoLink{

  @include flexbox($justify:space-between);

  &__click{
    @include flexbox($justify:space-between);
  }

  &__brand a{
    color: $gray2;
    padding-right: 15px;

    @include tablet{
      font-size: rem(12.003px);
    }
  }

  &__group a{
    color: $gray2;
    padding-left: 15px;
    // vertical-align: center;

    @include tablet{
      font-size: rem(12.003px);
    }
  }

  &__plusbtn{
    padding-left: 15px;
  }

  &__divider{
    color: $gray5;
    font-size: rem(12.003px);
  }

  @include mobile{
    display: none;
  }

}

.corpArea{
  @include flexbox();
  @include paddingY(24px);
  color: $gray2;

  @include mobile{
    @include flexbox($direction: column);
    @include paddingY(0px);
    margin: rem(12px) 0;
    gap: 4px;
  }

  @include tablet{
    margin: rem(16px) 0 rem(12px);
    gap: 20px;
  }

  @include desktop{
    margin: rem(27px) 0 rem(24px);
      gap: 36px;
    }

  &__list{
    @include mobile{
      font-size: rem(12.003px);
    }

    @include tablet{
      font-size: rem(12.003px);
    }
  }
  }

// 사업정보
.address{
  @include mobile{
    display: none;
  }

  @include mobile{
    font-size: rem(12.003px);
  }

  @include tablet{
    font-size: rem(12.003px);
  }
}

.address__box{
  display: block;
  color: $gray5;
}

.customer,
.mail,
.center{
  text-decoration: underline;
}

.divider{
  color: $gray8;
}

.footer__sns{
  width: rem(268px);
  @include flexbox($justify: space-between);
  gap: rem(20px);
  @include marginY(24px);

  @include mobile{
    width: rem(120px);
    gap: rem(8px);
    @include marginY(12px);
  }

  @include desktop{
    gap: rem(8px);
  }
}

.copyrignt{
  display: inline-block;
  color: $gray5;

  @include mobile{
    width: rem(232px);
    font-size: rem(12.003px);
  }

  @include tablet{
    font-size: rem(12.003px);
  }
}