@use "../base" as *;
@use "../utils" as *;

body {
  background: $black;
}

.signupContainer {
  &__title {
    margin: 140px 0 28px 0;
    font-size: 37.897px;
    text-align: center;
    color: $white;
  }

  &__text {
    margin-bottom: 60px;
    font-size: 28.43px;
    text-align: center;
    color: $gray4;
  }

  div {
    width: 732px;
    margin-bottom: 34px;

    @include autoMargin;
  }

  [class*="box"] {
    width: 100%;
    height: 96px;
    padding-left: 24px;

    border: 0;
    border-radius: 4px;

    font-size: 28.43px;
    color: $gray6;
    background: #212121;
    // @include inputBox;
  }

  [class*="text"] {
    display: block;

    font-size: 21.328px;
    line-height: 160%;
    color: $gray5;
    // @include inputBox__text;
  }
}

.inputId__text,
.inputPw__text {
  margin-top: 4px;
}

.inputPw {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 36px;
    height: 36px;

    background: url(/src/assets/icons/Input.png) no-repeat;
    background-size: contain;
  }
}

.allCheckContainer {
  position: relative;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  top: 4px;
  width: 26px;
  height: 26px;
}

.allCheck {
  width: max-content;

  font-size: 21.328px;
  font-weight: 600;
  color: $gray3;
}

.allCheckBoxDefault {
  background: url("/src/assets/icons/roundcheck.png") no-repeat;
  background-position: left;
}

.allCheckBox:checked + label {
  background: url("/src/assets/icons/roundchecked.svg") no-repeat;
  background-position: left;
}

.checkList {
  padding-left: 38px;
  font-weight: 600;

  &__all {
    font-weight: 600;
  }
  &__item {
    height: 32px;
    margin-bottom: 13px;
  }

  &__text {
  }
}

// .appearance-none + label {
//   background: url("/src/assets/icons/roundchecked.svg") no-repeat;
//   background-position: left;
// }

.checkBox {
  background: url("/src/assets/icons/Check.png") no-repeat;
  background-position: left;

  &:checked {
    background: url("/src/assets/icons/checked.svg") no-repeat;
    background-position: left;
  }
}

.subCheckList {
  margin-left: 36px;
}

.sign-up-box {
  padding: 24px;
  cursor: pointer;
  margin-top: 20px;
}
