<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그아웃 페이지</title>
    <link rel="stylesheet" href="/style/index.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png" />
  </head>
  <header class="subHeader">
    <div class="subHeader__inner">
      <h1 class="subLogo">
        <a href="/views/main.html"
          ><img src="/assets/icons/logo.png" alt="TAING"
        /></a>
      </h1>
    </div>
  </header>
  <body>
    <div class="logout">
      <span class="logout__message">로그아웃 하시겠습니까?</span>
      <div class="logout__flex">
        <span class="logout__yes"><a href="/">확인</a></span>
        <span class="logout__no"><a href="/">취소</a></span>
      </div>
    </div>
  </body>
</html>
