<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 페이지</title>
    <link rel="stylesheet" href="../style/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/icons/favicon-96x96.png" />
  </head>

  <body>
    <header class="subHeader">
      <div class="subHeader__inner">
        <h1 class="subLogo">
          <a href="/views/main.html"
            ><img src="/assets/icons/logo.png" alt="TAING"
          /></a>
        </h1>
      </div>
    </header>

    <main class="findPw">
      <div class="usePw">
        <h2 class="usePw__title">비밀번호 찾기</h2>
        <span class="usePw__confirm">
          아이디 확인 후 등록된 이메일 주소로 비밀번호 재설정을 위한 인증 메일이
          발송됩니다. 이메일을 확인하여 12시간 이내에 비밀번호 재설정을
          완료해주세요.
        </span>
        <form action="#" class="usePw__form">
          <fieldset>
            <legend>이메일 폼</legend>
            <div class="usePw__Id">
              <label for="userEmail" class="a11yHidden">이메일</label>
              <input
                type="email"
                id="userEmail"
                name="userEmail"
                required
                placeholder="아이디" />
            </div>
            <button type="submit" class="usePw__check">확인</button>
          </fieldset>
        </form>
      </div>
    </main>

    <footer class="footer">
      <div class="subInfo">
        <h2 class="footer__info a11yHidden" aria-hidden="true">Information</h2>
        <div class="info__notice">
          <a href="/">
            <h3 class="subInfo__noticeTitle">공지사항</h3>
            <p class="subInfo__noticeContent">
              [안내] 합병보고 주주총회에 갈음하는 공고
            </p>
          </a>
        </div>

        <div class="subinfoLink">
          <ul class="subinfoLink__click">
            <li class="subinfoLink__brand">
              <a href=""
                >브랜드 바로가기<span
                  class="subinfoLink__plusbtn"
                  aria-hidden="true"
                  ><i class="bx bx-plus"></i></span
              ></a>
              <span class="subinfoLink__divider" aria-hidden="true">ㅣ</span>
            </li>
            <li class="subinfoLink__group">
              <a href=""
                >그룹 계열사 바로가기<span
                  class="subinfoLink__plusbtn"
                  aria-hidden="true"
                  ><i class="bx bx-plus"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <ul class="corpArea">
        <li class="corpArea__list"><a href="/">고객센터</a></li>
        <li class="corpArea__list"><a href="/">이용약관</a></li>
        <li class="corpArea__list"><a href="/">개인정보처리방침</a></li>
        <li class="corpArea__list"><a href="/">청소년 보호정책</a></li>
        <li class="corpArea__list"><a href="/">법적고지</a></li>
        <li class="corpArea__list"><a href="/">이벤트</a></li>
        <li class="corpArea__list"><a href="/">인재채용</a></li>
      </ul>

      <address class="address">
        <span class="address__box">
          대표이사 : YANG JIEUL<span class="divider" aria-hidden="true"
            >ㅣ</span
          >
          <a href="">사업자정보확인</a
          ><span class="divider" aria-hidden="true">ㅣ</span> 사업자등록번호:
          <a class="address__telephone" href="tel:022345678">02-234-5678</a
          ><span class="divider" aria-hidden="true">ㅣ</span>
          통신판매신고번호: 2020-서울마포-3641호
        </span>
        <span class="address__box">
          사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브
          15층(상암동)<span class="divider" aria-hidden="true">ㅣ</span
          >호스팅사업자 : 씨제이올리브네트웍스(주)
        </span>
        <span class="address__box">
          <a href="/" class="customer">고객문의 바로가기</a
          ><span class="divider" aria-hidden="true">ㅣ</span>
          <span class="mail"
            >대표메일:
            <a class="address__link" href="mailto:tving@cj.net?subject=문의사항"
              >tving@cj.net</a
            >
            <span class="divider" aria-hidden="true">ㅣ</span>
            <span class="center"
              ><a href="/"
                >고객센터 : 1670-1525(평일/주말 09시~18시, 공휴일 휴무)</a
              ></span
            >
          </span>
        </span>
        <span class="address__box">
          ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780<span
            class="divider"
            aria-hidden="true"
            >ㅣ</span
          >
          Mnet 고객센터(반송편성문의) : 1855-1631
        </span>
      </address>

      <ul class="footer__sns">
        <li class="sns__youtube">
          <a href="/" target="_blank" rel="noopener noreferrer"
            ><img src="../assets/icons/Youtube.png" alt="Youtube"
          /></a>
        </li>
        <li class="sns__insta">
          <a href="/" target="_blank" rel="noopener noreferrer"
            ><img src="../assets/icons/Instagram.png" alt="instagram"
          /></a>
        </li>
        <li class="sns__twitter">
          <a href="/" target="_blank" rel="noopener noreferrer"
            ><img src="../assets/icons/Twitter.png" alt="twitter"
          /></a>
        </li>
        <li class="sns__facebook">
          <a href="/" target="_blank" rel="noopener noreferrer"
            ><img src="../assets/icons/Facebook.png" alt="facebook"
          /></a>
        </li>
      </ul>

      <small class="copyrignt">
        Copyright &copy; 주식회사 티빙 All right reserved.
      </small>
    </footer>
  </body>
</html>
