@use "./../utils" as *;

.header{
  position: fixed;
  top: 0;left: 0;
  z-index: 100;
  width: 100%;
  height: rem(100px);
  background: $black;
  @include mobile {
    background: linear-gradient($black,rgba(0,0,0,0.5));
  }
  @include tablet {
    background: linear-gradient($black,rgba(0,0,0,0.5));
  }
  color: $white;
  transition: 0.5s;
  @include mobile {
    height: rem(38px);
    transition: 0.5s;
  }
  @include tablet {
    height: rem(56px);
    transition: 0.5s;
  }
  &__inner{
    width: 90%;
    height: 100%;
    @include autoMargin;
    @include flexbox(row,space-between,center,nowrap);
  }

  .logo{
    max-width:rem(132px);
    @include mobile {
      width: rem(46px);
    }
    @include tablet {
      width: rem(77px);
    }
  }

  .menuWrap{
    // width: rem(690px);
    @include flexbox(row,space-between,center,nowrap);
    gap: rem(52px);
    @include tablet {
      gap: rem(28px);
    }
  }

    .menu{
      width: rem(505px);
      @include tablet {
        width: rem(388px);
      }
      @include mobile {
        @include a11yHidden;
      }
      &__list{
        width: 100%;
        @include flexbox(row,space-between,center,nowrap);
        font-size: rem(21px);
        @include tablet {
          font-size: rem(12px);
        }

      }
      &__link{
        display: inline-block;
        &__img{
          vertical-align: middle;
          margin-right: rem(10px);
        }
      }
    }

  .subMenu{
    @include flexbox(row,space-between,center,nowrap);
    width: rem(120px);
    @include mobile {
      width: rem(52px);
    }
    @include tablet {
      width: rem(72px);
    }
    &__search{
      width: 30%;
      border: none;
    }
    &__profile{
      width: 30%;
    }
  }
}