@use "./../utils" as *;

.header{
  width: 100%;
  background: $black;
  background: linear-gradient($black,rgba(0,0,0,0.7));
  color: $white;
  &__inner{
    width: 90%;
    height: rem(100px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      height: rem(38px);
    }
    @include tablet {
      height: rem(56px);
    }
  }

  .logo{
    max-width:rem(132px);
    @include mobile {
      width: rem(46px);
    }
    @include tablet {
      width: rem(77px);
    }

  }

  .menuWrap{
    width: rem(690px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .menu{
      width: rem(505px);
      @include mobile {
        @include a11yHidden;
      }
      &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: rem(21px);
        @include tablet {
          font-size: rem(12px);
        }

      }
      &__link{
        display: inline-block;
        &__img{
          vertical-align: middle;
          margin-right: rem(10px);
        }
      }
    }

  .subMenu{
    display: flex;
    justify-content: space-between;
    width: rem(120px);
    @include mobile {
      width: rem(52px);
    }
    @include tablet {
      width: rem(72px);
    }
    &__search{
      width: 30%;
      border: none;
    }
    &__profile{
      width: 30%;
    }

    
  }
}

  