@use "./../utils" as *;
@use "sass:math";

body {
  background-color: $black;
  overflow-x: hidden;
}


.contentsContainer {
  @include containerPaddingX;
  @include sectionTitle;
  @include sectionMarginBottom;

}

span {
  display: block;
}

.content {
  &__text {
    @include desktop {
      font-size: rem(21.3px);
    }

    @include tablet {
      font-size: rem(12px);
    }

    @include mobile {
      font-size: rem(12px);
    }
  }

  &__box {
    margin-top: rem(12px);
  }

  &__list {
    @include flexbox;
    @include textDeco;

    @include mobile {
      width: 150vw;
    }

    @include tablet {
      width: 125vw;
    }

    @include desktop {
      width: 105vw;

    }

    li:nth-child(3) {
      @include pos($pos: relative);

      .Age-Limit {
        width: rem(16px);
        @include pos($t: 5px, $r: 20px);
      }
    }
  }

  &__item {
    //width: rem(240px);
    padding-right: rem(16px);

  }

}


.vod {
  &__text {
    @include desktop {
      font-size: rem(21.3px);
    }

    @include tablet {
      font-size: rem(12px);
    }

    @include mobile {
      font-size: rem(12px);
    }
  }

  &__box {
    margin-top: rem(12px);
  }


  &__list {
    @include flexbox;
    @include textDeco;

    @include mobile {
      width: 280vw;

    }

    @include tablet {
      width: 180vw;


    }

    @include desktop {
      width: 120vw;

    }

  }

  &__item {
    width: rem(345px);
    padding-right: rem(16px);
    @include pos($pos: relative);

    .vod__icon {
      width: 5rem;
      @include pos($t: 3px, $l: 3px);
    }

  }

  &__episode {
    span {
      font-size: rem(16px);
    }
  }

}


.original {
  &__box {
    margin-top: rem(12px);
  }


  &__list {
    @include flexbox;

    @include mobile {
      width: 280vw;

    }

    @include tablet {
      width: 180vw;


    }

    @include desktop {
      width: 120vw;

    }

  }

  &__item {
    width: rem(285px);
    padding-right: rem(16px);
  }
}