@use "./../utils" as *;
@use "sass:math";

body {
  background-color: $black;
  overflow-x: hidden;
}


.contentsContainer {
  @include containerPaddingX;
  @include sectionMarginBottom;
}

.section__Title{
  @include sectionTitle;
}


.content {
  &__box {
    margin-top: rem(12px);
  }

  &__list {
    display: flex;

    @include mobile {
      width: 235vw;
    }

    @include tablet {
      width: 140vw;
    }

    @include desktop {
      width: 105vw;

    }

    li:nth-child(3) {
      @include pos($pos: relative);

      .Age-Limit {
        width: vw(30px);
        @include pos($t: 5px, $r: 20px);
      }
    }
  }

  &__text {
    display: block;
    @include whiteSpace;
    @include textDeco;
    @include desktop {
      font-size: rem(21.3px);
    }

    @include tablet {
      font-size: vw(12px);
    }

    @include mobile {
      font-size: vw(12px);
    }
  }

  &__item {
    padding-right: rem(16px);
  }

}


.vod {

  &__box {
    margin-top: rem(12px);
  }

  
  &__list {
    display: flex;
    @include textDeco;

    @include mobile {
      width: 235vw;
    }

    @include tablet {
      width: 140vw;
    }

    @include desktop {
      width: 105vw;
    }

  }


  &__text {
    display: block;
    @include whiteSpace;
    @include textDeco;
    @include desktop {
      font-size: rem(21.3px);
    }

    @include tablet {
      font-size: vw(12px);
    }

    @include mobile {
      font-size: vw(12px);
    }
  }

  &__item {
    padding-right: rem(16px);
    @include pos($pos: relative);

    .vod__icon {
      width: vw(96px);
      @include pos($t: 3px, $l: 3px);
    }

  }

  &__episode {
    @include desktop {
      font-size: rem(16px);
    }

    @include tablet {
      font-size: vw(10px);
    }

    @include mobile {
      font-size: vw(10px);
    }
  }

}


.original {

  &__box {
    margin-top: rem(12px);
  }


  &__list {
    display: flex;

    @include mobile {
      width: 235vw;
    }

    @include tablet {
      width: 140vw;
    }

    @include desktop {
      width: 105vw;

    }
  }

  &__item {

    padding-right: rem(16px);
  }
}