@use "./../utils" as *;

.contentsContainer {
  padding-left: rem(70px);
}
.section__title {
  @include sectionTitle;
}
.rank {
  @include rank;
}
.favoritePro {
  @include grid(8, 240px);

  &__container {
    position: relative;
  }

  &__name {
    @include whiteSpace;

    display: inline-block;
    max-width: calc(100% - 16px);
    padding-left: rem(60px);

    font-size: rem(21.3px);
    line-height: 2.3;
    color: $gray2;
  }
  &__redDot {
    @include redDot;
  }
}

.favoriteLive {
  @include grid(6, 345px);

  &__container {
    position: relative;
  }
  &__list {
    margin-top: rem(10px);
  }
  &__studio,
  &__name,
  &__per {
    padding-left: rem(58px);
    line-height: 1.5;
  }
  &__studio {
    font-size: rem(21.3px);
    color: $gray2;
  }
  &__name {
    color: $gray3;
  }
  &__per {
    color: $gray5;
  }
}
