@use "./../utils" as *;

.subHeader{
  width: 100%;
  height: rem(100px);
  position: fixed;
  top: 0;left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
  z-index: 100;
  height: rem(100px);
  transition: 0.3s;
  @include mobile {
    height: rem(38px);
    transition: 0.3s;
  }
  @include tablet {
    height: rem(56px);
    transition: 0.3s;
  }
  &__inner{
    width: 90%;
    height: 100%;
    @include autoMargin;
    @include flexbox($items:center);
  }
  .subLogo{
    max-width:rem(132px);
    @include mobile {
      width: rem(46px);
    }
    @include tablet {
      width: rem(77px);
    }
  }
}
